<%=stylesheet_link_tag('user')%>
<div class="main">
    <div>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="name_container">
      
        <h3> User Name: <%= user.name %> </h3>
      
        <p> Number of posts: <%= user.posts_counter %> </p>
    </div>
  </a>
</div>
