<%=stylesheet_link_tag('header')%>
<div class="top-nav">
<h1 class="web">A Web Page</h1>
<div class="bottom-part">
<div class="left-icons">
            <i class="fa-solid fa-left-long fa-3x white"></i>
            <i class="fa-solid fa-right-long white fa-3x"></i>
            <i class="fa-solid fa-xmark fa-3x"></i>
            <i class="fa-solid fa-house fa-2x white"></i>
            </div>
            <div class="search-bar">
            <input type='text' placeholder='Search...' id='search-text-input' class="curved-input"/>
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>
    </div>
</div>
