.container {
  margin-left: 10%;
  margin-top: 20px;
}

.field {
  margin-left: 10%;
  margin-top: 20px;
}

.actions {
  margin-left: 10%;
  margin-top: 8px;
}

.form_field {
  width: 30%;
}

.submit_btn {
  background: blueviolet;
  margin-bottom: 20px;
}
