.top-nav {
  background: #949697;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0;
}

.web {
  margin-left: 40%;
}

.top-nav > * {
  box-sizing: border-box;
}

.bottom-part {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.left-icons {
  color: #fff;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
  justify-content: space-around;
}

.curved-input {
  width: 80px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 40px;
}

.search-bar {
  display: flex;
  margin-left: 40px;
}

#search-text-input {
  border: 2px solid black;
  height: 40px;
  width: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 4px;
  font-size: 1rem;
}

.fa-magnifying-glass {
  background-color: rgb(226, 226, 226);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  padding: 10px 6px;
  width: 28px;
}
