.main-post {
  display: flex;
  margin-top: 20px;
}

.main-post i {
  font-size: 120px;
}

.post-name {
  display: flex;
  border: 2px solid black;
  width: 40%;
  margin-left: 40px;
}

.post-name p {
  margin-top: 60px;
  margin-left: 60px;
  font-weight: 400;
  font-size: 20px;
}

.recent_post {
  margin-top: 16px;
  width: 51%;
  border: 2px solid black;
}

.comment_like {
  display: flex;
  margin-left: 50%;
}

.comment_like p {
  margin-left: 20px;
}

a {
  margin-left: 25%;
}

.post_detail {
  display: flex;
  border: 2px solid black;
  width: 52%;
}

.add_post {
  font-weight: 400;
  margin-left: 10%;
}

.form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  width: 40%;
}

.form_title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.form_text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.submit-btn {
  width: 15%;
  margin-left: 30%;
  background: blueviolet;
}

.create_post_btn {
  width: 15%;
  height: 30px;
  text-align: left;
  background: yellowgreen;
  text-decoration: none;
}

.create_comment_btn {
  width: 15%;
  height: 30px;
  text-align: left;
  text-decoration: none;
  background-color: blueviolet;
}

.comment_field {
  display: ruby-base;
  margin-top: 20px;
}
