.main {
  display: flex;
  margin-top: 10px;
}

.main-show {
  display: flex;
  margin-top: 10px;
}

.main i {
  font-size: 120px;
}

.main-show i {
  font-size: 120px;
}

.name_container {
  display: flex;
  border: 2px solid black;
  width: 40%;
  margin-left: 40px;
}

.name_container p {
  margin-top: 60px;
  margin-left: 60px;
  font-weight: 400;
  font-size: 20px;
}

.user-bio {
  border: 2px solid black;
  width: 51%;
  margin-top: 20px;
}

.each_post {
  border: 2px solid black;
  width: 51%;
  margin-top: 20px;
}

.comment_like {
  display: flex;
  margin-left: 50%;
}

.comment_like p {
  margin-left: 20px;
}

.picture_link {
  display: none;
}
